 <app-header></app-header>
<h2> Are you looking to expand your team? <a href="/createfamily">CREATE A FAMILY</a></h2>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">Family name</th>
      <th scope="col">Logo</th>
      <th scope="col">Representative</th>
      <th scope="col">Edit Family</th>
      <th scope="col">Delete Family</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let family of families" >
      <td>{{family.familyName}}</td>
      <td>{{family.logo}}</td>
      <td>{{family.representative}}</td>
      <td><button class="deletebutton" routerLink="/editfamily/:id">Update</button></td>
      <td><button class="deletebutton"   (click)="removeFamily(family.id)">Delete</button></td>
    </tr>
  </tbody>
  <!-- removeFamily(family.id) -->
  <!-- <tfoot>
    <tr>
      <td colspan="4">
        <mat-paginator [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
        </mat-paginator>
      </td>
    </tr>
  </tfoot> -->
</table> 
