 <app-header></app-header>
<h2> Are you looking to expand your team? <button class="createbtn" mat-button (click)="postFamily()">CREATE A FAMILY</button></h2>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">Family name</th>
      <th scope="col">Logo</th>
      <th scope="col">Representative</th>
      <th scope="col">Edit Family</th>
      <th scope="col">Delete Family</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let family of families" >
      <td>{{family.familyName}}</td>
      <td>{{family.logo}}</td>
      <td>{{family.representative}}</td>
      <td><button class="deletebutton"   (click)="editFamily(family.id)">Update</button></td>
      <td><button class="deletebutton"   (click)="deleteConfirm(family.id)">Delete</button></td>
    </tr>
  </tbody>
</table> 
