<div class="body">
    <h4 class="text-center"> Edit family</h4>
    <h3 class="text-center">Fill the form to edit {{data.familyName}} family.</h3>
    <form [formGroup]="familyForm" (ngSubmit)="onSubmit()" novalidate class="d-flex-center">
      <div class="example-container">
        <div>
            <mat-form-field>
              <input matInput formControlName="familyName">
              <mat-error *ngIf="familyForm.get('familyName')?.invalid && (familyForm.get('familyName')?.dirty || familyForm.get('familyName')?.touched) && familyForm.get('familyName')?.errors?.required">
                Field is required
              </mat-error>
            </mat-form-field>
          </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="logo">
            <mat-error *ngIf="familyForm.get('logo')?.invalid && (familyForm.get('logo')?.dirty || familyForm.get('logo')?.touched) && familyForm.get('logo')?.errors?.required">
              Field is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mt-top-2">
          <mat-form-field>
            <input matInput formControlName="representative">
            <mat-error *ngIf="familyForm.get('representative')?.invalid && (familyForm.get('representative')?.dirty || familyForm.get('representative')?.touched) && familyForm.get('representative')?.errors?.required">
              Field is required
            </mat-error>
          </mat-form-field>
        </div>
     
        <div class="mt-top">
          <button [disabled]="!familyForm.valid"  mat-raised-button mat-button>Update</button>
        </div>         
      </div>
    </form>
</div>