<div class="body">
    <div class="text-center">
        <h4 class="text-center"> Register</h4>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate class="d-flex-center">
          <div class="example-container">
            <div>
                <mat-form-field>
                  <input matInput placeholder="Name" formControlName="name">
                  <mat-error *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched) && registerForm.get('name')?.errors?.required">
                    Name is required
                  </mat-error>
                </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Username" formControlName="username">
                <mat-error *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched) && registerForm.get('username')?.errors?.required">
                  Username is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="mt-top-2">
              <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">    
                <mat-error *ngIf="!registerForm.get('password')?.errors?.required">
                  Password length must be greater than or equal to 8 and password must contain one or more uppercase , lowercase , numeric and special characters
                </mat-error>
                <mat-error *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched) && registerForm.get('password')?.errors?.required">
                  Password is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="mt-top-2">
                <mat-form-field>
                  <input matInput type="password" placeholder="Confirm password" formControlName="confirmpassword">    
                  <mat-error *ngIf="!registerForm.get('confirmpassword')?.errors?.required">
                    Password length must be greater than or equal to 8 and password must contain one or more uppercase , lowercase , numeric and special characters
                  </mat-error>
                  <mat-error *ngIf="registerForm.get('confirmpassword')?.invalid && (registerForm.get('confirmpassword')?.dirty || registerForm.get('confirmpassword')?.touched) && registerForm.get('confirmpassword')?.errors?.required">
                    Password is required
                  </mat-error>
                  <mat-error *ngIf="registerForm.getError('mismatch') && registerForm.get('confirmpassword')?.touched">
                    Password does not match
                  </mat-error>
                </mat-form-field>
            </div>
            <div class="mt-top">
              <button [disabled]="!registerForm.valid" mat-raised-button color="primary" >Sign Up</button>
            </div>         
          </div>
        </form>
      </div>
    </div>